<div class="container" style="text-align: center">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1>Heading 1</h1>
  <br>
  <h2>Heading 2</h2>
  <br>
  <h3>Heading 3</h3>
  <br>
  <h4>Heading 4</h4>
  <br>
  <h5>Heading 5</h5>
  <br>
  <h6>Heading 6</h6>
  <br>
  <p>
    Body 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.
  </p>
  <br>
  <br>

  <h3>Buttons</h3>
  <br>

  <button class="mdc-button">
    <span class="mdc-button__label">Button</span>
  </button>
  <br>
  <br>
  <button class="mdc-button mdc-button--unelevated">
    <span class="mdc-button__label">Button</span>
  </button>

  <br>
  <br>
  <button class="mdc-button mdc-button--outlined">
    <span class="mdc-button__label">Button</span>
  </button>

  <br>
  <br>
  <button class="mdc-button mdc-button--dense">
    <span class="mdc-button__label">Button</span>
  </button>

  <br>
  <br>

  <button class="mdc-button" disabled>
    <span class="mdc-button__label">Button</span>
  </button>
  <br>
  <br>
  <button class="mdc-button mdc-button--unelevated" disabled>
    <span class="mdc-button__label">Button</span>
  </button>

  <br>
  <br>
  <button class="mdc-button mdc-button--outlined" disabled>
    <span class="mdc-button__label">Button</span>
  </button>

  <br>
  <br>
  <button class="mdc-button mdc-button--dense" disabled>
    <span class="mdc-button__label">Button</span>
  </button>


  <br>
  <br>
  <br>
</div>
