<div class="home-popular-list">
  <div class="home-popular-list__grid">
    <div class="home-popular-list__grid-col" *ngFor="let preview of previewList">
      <article class="preview-video">
        <div class="preview-video__image">
          <img src="{{preview.imgUrl}}" alt="{{preview.title}}"/>
          <i class="material-icons">
            play_circle_outline
          </i>
        </div>
        <h3 class="preview-video__title"><a href="#">{{preview.title}}</a></h3>
        <div class="preview-video__artist-name">{{preview.artist}}</div>
      </article>
    </div>
  </div>
</div>
